/* Contact Us Banner */
.contact-banner {
  background-image: url(../assets/office.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  position: relative;
  overflow: hidden;
  height: 40vh;
  display: flex;
  justify-content: center;
  align-items: center;
  -webkit-mask-image: linear-gradient(to bottom, black 90%, transparent 100%);
  mask-image: linear-gradient(to bottom, black 90%, transparent 100%);
}

.contact-banner-overlay {
  position: absolute;
  background-image: linear-gradient(to right, #007bff, #6610f2);
  opacity: 0.5;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.contact-banner-text h1 {
  font-size: 3rem;
  font-weight: 700;
}

.contact-banner-text .slogan {
  font-size: 1.25rem;
  margin-top: 0.5rem;
  color: #b8e1ff;
  max-width: 80%;
}

.contact-banner-text {
  position: absolute;
  text-align: center;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media (max-width: 768px) {
  .contact-banner-text h1 {
    font-size: 1.5rem;
    font-weight: 700;
  }

  .contact-banner-text .slogan {
    font-size: 0.9rem;
    margin-top: 0.5rem;
    font-weight: 400;
    color: #fff;
    max-width: 80%;
  }
}

/* ===== Contact Section ===== */
.contact-section {
  /* background: linear-gradient(135deg, #001f3f, #007bff); */
  background: linear-gradient(to right, #007bff, #6610f2);
  color: white;
}

/* .contact-info{
  background: yellow;
  height: 75vh;
} */

.contact-card {
  /* background: rgba(255, 255, 255, 0.08); */
  background: black;
  padding: 20px;
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.15);
}

.contact-card h5 {
  color: white;
}

.contact-social .contact-icon-link {
  color: white;
  font-size: 1.4rem;
  margin-right: 15px;
  transition: color 0.18s, transform 0.18s;
}

.contact-social .contact-icon-link:hover {
  color: blue;
  transform: translateY(-3px) scale(1.18);
}

.contact-control:focus,
.contact-select:focus {
  border-color: #007bff;
  box-shadow: 0 0 0 0.15rem rgba(0, 123, 255, 0.25);
}

button.btn-primary {
  background-color: #007bff;
  border: none;
  transition: all 0.3s ease-in-out;
}

button.btn-primary:hover {
  background-color: #0056b3;
}
